{% extends "layout.html" %}
{% block content %}
<h1>Spam Classifier</h1>
<p>Enter your message below</p>
<form class="form-group" action="/predict" method="POST">
    <textarea class="form-control" name="submission" id="submission" rows="10"></textarea> 
    <button type="submit" class="btn btn-primary">Classify</button>
</form>
{% if classification %}
{% if classification == 'ham' %}
<div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header text-white bg-success">
      <strong class="mr-auto">Classification</strong>
      <small>Just Now</small>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
      Message is safe!
    </div>
  </div>
{% else %}
<div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header text-white bg-danger">
      <strong class="mr-auto">Classification</strong>
      <small>Just Now</small>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
      Message is spam!
    </div>
  </div>
{% endif %}
{% endif %}
{% endblock %}